# Environment variables
.env
.env.example

# VS Code settings
.vscode/

# Python cache & build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
